@import '../../variables';

.active {
    border-bottom: 3px solid mat-color($accentPalette);
}

a[mat-button] {
    border-radius: 0px !important;
}

button[mat-button] {
    border-radius: 0px !important;
}

.header-container {
    width: 100%;
}

.mat-icon {
    font-size: 35px !important;
}

.account-menu-item:hover {
    border-bottom: 3px solid mat-color($accentPalette);
}

.no-hover-effect::ng-deep .mat-button-focus-overlay {
    background-color:transparent !important;
}