<mat-toolbar  fxLayout="row">
    <div class="header-container" fxShow="true" fxHide.lt-sm="true" fxLayout="row" fxLayoutGap="20px">
        <span class="fill-space"></span>
        <a mat-button routerLink="/games/pickpugpoop" routerLinkActive="active"><span>Pick Pug Poop</span></a>
        <a mat-button routerLink="/games/snake" routerLinkActive="active"><span>Snake</span></a>
        <a mat-button routerLink="/games/sudoku" routerLinkActive="active"><span>Sudoku</span></a>
        <span class="fill-space"></span>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #accountMenu="matMenu" xPosition="before">
            <div mat-menu-item><button mat-button (click)="signOutHandler()">Sign out</button></div>
        </mat-menu>
    </div>
    <div class="header-container" fxShow="true" fxHide.gt-xs="true" fxLayout="row">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><mat-icon>menu</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item><a mat-button  routerLink="/games/pickpugpoop" routerLinkActive="active"><span>Pick Pug Poop</span></a></button>
            <button mat-menu-item><a mat-button  routerLink="/games/snake" routerLinkActive="active"><span>Snake</span></a></button>
            <button mat-menu-item><a mat-button  routerLink="/games/sudoku" routerLinkActive="active"><span>Sudoku</span></a></button>
        </mat-menu>
        <div class="fill-space"></div>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #accountMenu="matMenu" xPosition="before">
            <div mat-menu-item><button mat-button (click)="signOutHandler()">Sign out</button></div>
        </mat-menu>
    </div>
</mat-toolbar>