<div id="login-main-container"
    fxLayoutAlign="column"
    fxLayoutAlign="center center">

    <div  class="mat-elevation-z18" 
        id="login-container"
        fxLayout="column">        

        <mat-toolbar>
            <span class="fill-space"></span>
            <h1>Log in</h1>
            <span class="fill-space"></span>
        </mat-toolbar>

        <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="fill-space" 
            fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="none center">

            <mat-form-field color="accent">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. username" type="text" formControlName="username">
                <button mat-button *ngIf="loginForm" color="accent" matSuffix mat-icon-button (click)="loginForm.setValue({username:'', password:loginForm.value.password})">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Ex. password" type="password" formControlName="password">
                <button mat-button *ngIf="loginForm" color="accent" matSuffix mat-icon-button (click)="loginForm.setValue({username:loginForm.value.username, password:''})">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
            </mat-form-field>

            <div><a id="lost-passport-link" href="/lostpassword">Lost password?</a></div>

            <div class="fill-space"></div>

            <mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="10px">
                <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Log in</button>
                <a mat-raised-button type="button" href="/signup">Sign up</a>
            </mat-dialog-actions>

            <div fxLayoutAlign="center center" id="resp-err-container">
                <mat-error *ngIf="loginRespError">{{loginRespError}}</mat-error>
            </div>

        </form>
        
    </div>
</div>
