@import '../../../variables';

$pFontSize: 120%;
$pFontSizeSW: 105%;

#main-container-pickpugpoop{
    width: 100% !important;
}

#jumbotron-container{
    width: 100% !important;
    padding-left: 5em !important;
    padding-right: 5em !important;
    padding-top: 2em !important;
    padding-bottom: 2em !important;
    border-bottom: 4px solid mat-color($accentPalette);
    background-color: $darkAccentPalette;
    
}

#start-game-container{
    padding-left: 5em !important;
    padding-right: 5em !important;
    //padding-bottom: 3em !important;
    width: 100%;
    //border-bottom: 4px solid mat-color($accentPalette);
}

#dashboard-title{
    margin: 0;
    color: $toolbarPlatte !important;
}


#dashboard-container{
    padding-left: 5em !important;
    padding-right: 5em !important;
    //padding-bottom: 3em !important;
    width: 100%;
}

.dashboard-topplayer-container {
    width: 20em !important;
}

.dashboard-topplayer-container > div {
    //border-bottom: 4px solid mat-color($accentPalette);
    //padding-bottom: 0.5em;
    border-top: 4px solid mat-color($accentPalette);
    padding-top: 0.5em;
}

.dashboard-topplayer-container p{
    margin: 0em;
    color: $bodyPalette !important;
    font-size: $pFontSize;
}

.dashboard-topplayer-container h2{
    margin: 0em;
    color: $bodyPalette !important;
}


#jumbotron-title{
    width: 100%;
    text-align: left !important;
    margin-top: 0 !important;
    color: white !important;
}

#jumbotron-subtext{
    text-align: justify !important;
    margin: 0 !important;
    color: white !important;
}

.start-game-button {
    font-size: $pFontSize !important;
}

.start-game-button:hover{
    background-color: $lighAccentPalette;
}


table {
    width: 100%;
}

td, th {
    width: 25%;
}

.mat-cell, .mat-header-cell{
    font-size: $pFontSize !important;
}


@media screen and (min-width: 960px) {
    .start-game-button {
        width: 20em !important;
        height: 3em !important;
    }
    
    #historytable-container{
        margin: 0em 3em 0em 3em;
        padding: 2em;
    }

  }

  @media screen and (max-width: 959px) {
    .start-game-button {
        height: 2.5em !important;
    }

    #jumbotron-title{
        text-align: center !important;
    }

    #jumbotron-image{
        margin-left: 3em !important;
    }

    #historytable-container{
        margin: 0em 1.5em 0em 1.5em;
        padding: 1em;
    }

    td{
        padding: 1em !important;
    }

    .mat-cell, .mat-header-cell{
        font-size: $pFontSizeSW !important;
    }
  }

