#container-finishgame-loose {
    background-color: #a7bbe2 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

#container-finishgame-win {
    background-color: #c4a37f !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

#container-startgame {
    background-color: #b5a296 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

#container-startgame-tips{
    margin: 0em !important;
}

#toolbar-container{
    width: 100% !important;
    height: 50px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color:transparent
}

#toolbar-container-tips{
    width: 100% !important;
    height: 50px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color:transparent
}

#victory-pug{
    margin-left: 6%;
}

.title-finishgame{
    font-size: 130% !important;
    text-align: center;
}

.title-tips{
    font-size: 130% !important;
    text-align: center;
    margin: 0em !important;
}

#footer-finishgame{
    text-align: center;
    font-size: 120%;
    margin: 1em !important;
}

.close-button{
    margin-left: auto;
}

.zero-padding {
    padding: 0 !important;
}

.list-item{
    width: 100%;
    height: 50px !important;
}

.grass-img{
    margin-bottom: 1.5em !important;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}

.pug-img {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;   
}

.highlighted-text{
    color: #424242 !important;
    font-weight: 500;
}
.find-poops-text{
    margin: 0 !important;
}

#footer-tips{
    height: 50px;
    margin-bottom: 0.5em !important;
}