#container-finishgame-loose {
    background-color: #a7bbe2 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

#container-finishgame-win {
    background-color: #c4a37f !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

#container-startgame {
    background-color: #b5a296 !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

#container-startgame-title{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color:transparent
}

.title-finishgame{
    font-size: 130% !important;
    text-align: center;
}

#footer-finishgame{
    text-align: center;
    font-size: 85%;
}

.close-button{
    margin-left: auto;
}