@import "~@angular/material/theming";

$fa-font-path : "../node_modules/font-awesome/fonts";
$light-blue : #2196F3;

$bodyPalette: #424242;
$toolbarPlatte: #212121;
$primaryPalette: mat-palette($mat-pink, 700, 500, 900);
$lightPrimaryPalette: #FF4081;
$accentPalette:  mat-palette($mat-blue-grey, A200, A100, A400);
$lighAccentPalette: #d7dfe2;
$darkAccentPalette: #4c5356;
$warnPalette:    mat-palette($mat-red);